    <footer>
        <div class="footer-bottom">
            <p>&copy; <%= new Date().getFullYear() %> Minimarket S.R.L. - Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>