<div class="product-search-container">
    <div class="search-bar-wrapper">
        <i class="fas fa-search"></i>
        <input type="text" id="product-search-input" placeholder="Buscar por nombre o código de producto..." autocomplete="off">
    </div>
    <div id="product-search-results" class="search-results-container">
        <!-- Los resultados de la búsqueda se insertarán aquí dinámicamente -->
    </div>
</div>