<section id="product-management-section" class="admin-section-content" style="display: none;">
    <h3>Manejo de Productos</h3>
    <%- include('search_product') %>
    <%- include('product_list') %>
</section>